.ifzsys-collapsible {
  background-color: white;
  padding: 5px 30px 5px 0; /* 30px right to have some distance to the plus sign */
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family:inherit;
  font-size: inherit;
  transition: color 0.2s ease-out, cursor 0.2s ease-out;
  position: relative;
}

.ifzsys-collapsible.ifzsys-active,
.ifzsys-collapsible.ifzsys-active a {
  color: #cccccc;
}

.ifzsys-active, .ifzsys-collapsible:hover {
  background-color: #f4f4f4;
}

.ifzsys-collapsible:after {
  content: '\002B'; /* plus sign */
  position: absolute;
  right: 0;
  margin-right: 5px;
  margin-left: 10px;
}

.ifzsys-active:after {
  content: "";
}

.ifzsys-content {
  padding: 0 30px 0 10px;
  max-height: 0; /* make element invisible when not active */
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f4f4f4;
}

.ifzsys-content.ifzsys-active {
  border-left: 2px dotted;
}

.ifzsys-content > div,
.ifzsys-tooltipDiv > div,
.ifzsys-collapsible {
  display: flex;
  align-items: baseline;
}

.ifzsys-collapsible > div:first-child,
.ifzsys-content > div > div:first-child {
  width: max-content;
  flex-shrink: 0;
}

.ifzsys-content > div > div:first-child,
.ifzsys-tooltipDiv > div > div:first-child,
.ifzsys-collapsible > div:first-child {
  white-space: nowrap;
}

.ifzsys-content > div > div:not(:first-child),
.ifzsys-tooltipDiv > div > div:not(:first-child),
.ifzsys-collapsible > div:not(:first-child) {
  margin-left: 2px;
}

.ifzsys-current > div {
  font-weight: bold;
}

.ifzsys-tooltip {
  position: relative;
}

.ifzsys-tooltipDiv {
  display: none;
  position: absolute;
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px;
  z-index: 1;
  left: 0; /* Align left border with the parent .ifzsys-tooltip */
  white-space: nowrap;
}

.ifzsys-tooltip:hover .ifzsys-tooltipDiv {
  display: block;
  top: 100%;
}

.ifzsys-tooltip:hover {
  background-color: #f4f4f4;
}
